.main {
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('/assets/images/sea.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  
    .main-content {
      max-width: 800px;
      padding: 2em;
  
      :is(h1) {
        font-size: 3em;
        margin-bottom: 1em;
      }
  
      :is(p) {
        font-size: 1.2em;
        margin-bottom: 2em;
      }
  
      .cta-button {
        padding: 1em 2em;
        font-size: 1.1em;
        background-color: #e95241;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #b33223;
        }
      }
    }
  }
  