.navigation {
    padding: 1em 0;
  
    :is(ul) {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
  
      :is(li) {
        margin: 0 1em;
  
        :is(a){
          color: white;
          text-decoration: none;
          padding: 0.5em 1em;
          border-radius: 4px;
          transition: background-color 0.3s;
  
          &:hover, &.active {
            background-color: #e74c3c;
          }
        }
      }
    }
  }